<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section
  class="section text-center"
  *ngIf="!isLoaded"
>
  <hacc-loader></hacc-loader>
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <hacc-add-event
        [categories]="categories"
      ></hacc-add-event>
    </div>
    <div class="col-md-6">
      <hacc-add-category (onCategoryAdd)="newCategoryAdded($event)"></hacc-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <hacc-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></hacc-edit-category>
    </div>
  </div>
</section>
