<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right" (click)="openFilter()">
    <button class="btn-sm btn btn-primary-outline">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>
<div
  *ngIf="!isLoaded"
  class="text-center"
>
  <hacc-loader></hacc-loader>
</div>
<div *ngIf="isLoaded">
  <hacc-history-chart [data]="chartData"></hacc-history-chart>

  <hacc-history-events
    [categories]="categories"
    [events]="filteredEvents"
  ></hacc-history-events>
  <div *ngIf="isFilterVisible">
    <hacc-history-filter
      (onFilterApply)="onFilterApply($event)"
      (onFilterCancel)="onFilterCancel()"
      [categories]="categories"
    ></hacc-history-filter>
  </div>
</div>

